

#position-menu{
    &[size]{
        #pos-menu-content{
            margin: 10px 0px 0px 0px;
            h4{
                margin: 5px;
            }
            .pos-title-cross{
                display: flex;
                margin-bottom: 2.5px;
                h4{
                    margin-right: 7px;
                }
                button{
                    margin-top: 3px;
                    height: 25px;
                    width: 55px;
                    font-weight: bolder;
                    &::after{
                        height: 25px;
                        width: 55px;
                    }
                }
                button:nth-child(2){
                    margin-right: 5px;
                }
                button:nth-child(3){
                    margin-right: 8px;
                }
            }
            .size{
                margin-bottom: 8px;
            }
            .margin{
                margin-bottom: 8px;
                .border-select-pos-menu{
                    margin: 1.5px 0px 0px 9px;
                }
            }
            .padding{
                .border-select-pos-menu{
                    margin: 1.5px 0px 0px 5px;
                }
            }
        }
        &[active]{            
            height: 195px;
            width: 216px;
            #pos-menu-content{
                margin: 0px 0px 0px 0px;
                input[type='range'] {
                    width: 180px;
                }
            }
        }
    }
}