@font-face {
    font-family: "pacifico";
    src: url("./font/Pacifico.ttf") format("truetype");
   }
@font-face {
    font-family: "staaliches";
    src: url("./font/Staatliches.ttf") format("truetype");
}
@font-face {
    font-family: "typori";
    src: url("./font/Typori.ttf") format("truetype");
}

body{
    margin: 0px;
    height: 1000px;
    background-color: #4a6ee565;
    background-image:  url("../img/grid2.png");
    background-size: 37%;
    background-repeat: repeat;
}
hr{
    margin: 0px;
    border-left: rgb(179, 179, 179) solid 0.5px;
}

.no-transition{
    transition: none !important;
}

img, div, h1{
    user-select: none;
}

