.color{
    margin-top: 1.5px;
    -webkit-appearance: none;
    border: 1px solid rgb(153, 153, 153);
    background-color: white;
    border-radius: 10px;
    width: 33px;
    height: 17px;
    &::-webkit-color-swatch {
        border: none;
        border-radius: 10px;
        padding: 0;
    }
    &::-webkit-color-swatch-wrapper {
        border: none;
        border-radius: 10px;
        padding: 2px;
      }
}