.corner-select{
    margin-top: 3px;
    width: 27px;
    height: 30px;
    div{
        display: flex;
        .top-left{
            width: 15px;
            height: 10px;
            margin: 0px 4px 4px 0px;
            border-top: solid 0.8px rgb(141, 141, 141);
            border-left: solid 0.8px rgb(141, 141, 141);
            border-radius: 10px 0px 0px 0px;
        }
        .top-right{
            width: 15px;
            height: 10px;
            border-top: solid 0.8px rgb(141, 141, 141);
            border-right: solid 0.8px rgb(141, 141, 141);
            border-radius: 0px 10px 0px 0px;
        }
        .bottom-left{
            width: 15px;
            height: 10px;
            margin: 0px 4px 0px 0px;
            border-bottom: solid 0.8px rgb(141, 141, 141);
            border-left: solid 0.8px rgb(141, 141, 141);
            border-radius: 0px 0px 0px 10px;
        }
        .bottom-right{
            width: 15px;
            height: 10px;
            border-bottom: solid 0.8px rgb(141, 141, 141);
            border-right: solid 0.8px rgb(141, 141, 141);
            border-radius: 0px 0px 10px 0px;
        }
    }
    .all{
        width: 6px;
        height: 6px;
        border: solid 0.8px rgb(141, 141, 141);
        border-radius: 10px;
        position: relative;
        top : -16.5px;
        left : 9.5px;
    }
}