//represente l'interieur d'un module de modification d'un element.
.html-element{
    font-family: "staaliches";
    width: 100%;
    height: 55px;
    padding: 8px 0px;
    border-bottom: 1px solid black;
    display: flex;
    font-weight: bold;
    .id{
        margin : 0px 10px;
        display: flex;
        div{
            margin-top: 2.5px;
        }
        input{
            margin: 1.5px 0px 0px 5px ;
            padding-left: 4px;
            width: 98px;
            height: 17px;
            border-radius: 20px;
            border: 1px solid rgb(153, 153, 153);
        }
    }
    .color-element{
        display: flex;
        margin : 5px 10px 0px 10px;
        input{
            margin-left: 5px;
        }
    }
    .shader{
        margin : 0px 12px 0px 10px;
        .shader-add-less-container{
            display: flex;
            div{
                margin-top: 3px;
            }
            select{
                height: 20px;
                width: 32px;
                margin: 2px 0px 0px 5px;
            }
            .element-more{
                margin: 2px 5px 5px 5px;
            }
            .element-trash{
                margin: 2px 0px ;
            }
        }
        .shader-range-color-container{
            display: flex;
            .shader-range-container{
                display: flex;
                flex-direction: column;
                input[type='range'] {
                    margin: 0px 0px 8px 0px;
                }
            }
        }
        input[type='color']{
            margin-left: 5px;
        }
    }
    .radius{
        margin : 0px 10px 0px 10px;
        .radius-content{
            display: flex;
            margin-top: -4px;
            margin-bottom: -8px;
            .title{
                margin: 7px 5px 0px 5px;
            }
            .corner-select{
                margin: 8px 0px 0px 5px;
            }
        }
        input[type='range']{
            margin: 12px 10px 10px 5px;
        }
    }
    .border{
        margin : 3px 12px 0px 10px;
        .border-content-color{
            display: flex;
            section{
                margin-left: 5px;
            }
        }
        .border-content{
            display: flex;
            .border-content-under{
                display: flex;
                flex-direction: column;
                margin: 3px 5px 0px 0px;
                input[type='range']{
                    margin: 0px 0px 5px 0px;
                }
            }
            .corner-select{
                margin-top: 5px;
            }
        }
    }
    .box{
        margin : 3px 10px 0px 10px;
        .box-title-color-container{
            .title{
                margin-right: 4px;
            }
            display: flex;
            margin-bottom: 4px;
        }
        .box-range-container{
            display: flex;
            margin-bottom: 3px;
            input{
                margin-left: 0px;
            }
        }
    }
    .add-trash-reset{
        margin-left: 15px;
        .btn-trash-reset{
            display: flex;
            margin-bottom: 5px;
            .element-reset{
                margin: 0px 5px 0px 0px;
            }
        }
        .element-more{
            margin-left: 27px;
        }
    }
}