
#position-interface{
    &[grid]{
        .if-in-position{
            height: auto;
            width: auto;
        }
        .in-position{
            height: auto;
            width: auto;
        }
    }
    &[flex],&[block],&[inline],&[inline-block]{
        .if-in-position{
            height: 60px;
            width: 60px;
        }
        .in-position{
            height: 60px;
            width: 60px;
        }
    }
}

.if-in-position{
    display: flex;
    .size-col{
        width: 5px;
        height: 100%;
    }
    .middle-sizing{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .size-line{
            width: 100%;
            height: 5px;
        }
        .pos-grab{
            width: 100%;
            height: 100%;
        }
    }
    &:hover{
        .size-col, .size-line{
            background-color: rgba(255, 0, 0, 0.479);
            cursor: row-resize;
        }
        .size-col{
            cursor: col-resize;
        }
        .pos-grab{
            cursor: grab;
            background-color: rgba(0, 128, 0, 0.301);
        }

    }
}