#position-menu-opener{
    white-space: nowrap;
    height: 50px;
    border-top: $pos-menu-border-color solid 3px;
    border-left: $pos-menu-border-color solid 3px;
    border-radius: 10px 12px 0px 0px;
    background-color: $pos-menu-bg;
    transition: border-radius 0s 0.3s;
    .title-and-angle{
        display: flex;
        align-items: center;
        .title{
            width: 100%;
            h2{
                white-space: nowrap;
                font-family: "typori";
                color: $pos-menu-font-color-1;
                font-size: 35px;
                margin: 0px;
                margin-left: 8px;
                span{
                    font-family: "pacifico";
                    font-size: 30px;
                }
            }
        }
        #pos-angle{
            border-left: $pos-menu-border-color solid 3px;
            border-right: $pos-menu-border-color solid 3px;
            border-radius: 0px 10px 0px 0px;
            justify-self: end;
            margin-left: 20px;
            height: 53px;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: border 0s 0.3s, border-radius 0s 0.3s;
            #pos-angle-img{
                margin: 0px 5px 0px 8px;
                height: 30px;
                transform: rotate(-90deg);
                filter: invert(10%) sepia(37%) saturate(6220%) hue-rotate(353deg) brightness(95%) contrast(117%);
                //filter: invert(14%) sepia(96%) saturate(7144%) hue-rotate(4deg) brightness(96%) contrast(115%);
                transition: all 0.3s 0s;
            }
        }
    }
    &[active]{
        border-radius: 10px 0px 0px 0px;
        transition: border-radius 0s;
        #pos-angle{
            border-right: $no-opacity solid 3px;
            border-radius: 0px;
            transition: border 0s, border-radius 0s;
            #pos-angle-img{
                transform: rotate(90deg);
                transition: all 0.3s;
            }
        }
    }
}