.trash-more-element-section, .reset-trash-more-element-section{
    display: flex;
}
.trash-more-element-section{
    margin-left: 3px;
}

.element-trash, .element-more, .element-reset{
    height: 18px;
    width: 18px;
    text-align: center;
    cursor: pointer;
    img{
        margin-top: 2px;
        height: 13px;
        width: 13px;
        filter: invert(57%) sepia(1%) saturate(14%) hue-rotate(340deg) brightness(88%) contrast(81%);
        transition: all 0.3s;
    }
    &:hover{
        background: radial-gradient(circle, rgba(0, 0, 0, 0.247) 0%, rgba(255,255,255,0) 75%);
        img{
            filter: invert(28%) sepia(1%) saturate(295%) hue-rotate(78deg) brightness(93%) contrast(87%);
            transition: all 0.3s;
        }
    }
    &:active{
        background: radial-gradient(circle, rgba(0, 0, 0, 0.61) 0%, rgba(255,255,255,0) 75%);
        img{
            filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
            transition: all 0s;
        }
    }
}


.reset-trash-btn{
    height: 30px;
    margin-top: 1px;
    .element-trash, .element-reset{
        height: 15px;
        width: 15px;
        margin-right: 3px;
        img{
            margin: 0px;
            height: 11.5px;
            width: 11.5px;
        }
        &:hover{
            background: none;
        }
        &:active{
            background: none;
            img{
                filter: invert(83%) sepia(18%) saturate(0%) hue-rotate(239deg) brightness(89%) contrast(99%);
                transition: all 0s;
            }
        }
    }
}

.element-btn-more-under-module{
    border : solid rgb(145, 145, 145) 1px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
    img{
        height: 24px;
        width: 24px;
        transition: all 0.5s;
        filter: invert(57%) sepia(1%) saturate(14%) hue-rotate(340deg) brightness(88%) contrast(81%);

    }
}

.image-text{
    display: flex;
    .btn-image-text{
        height: 50px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;
        img{
            height: 40px;
            width: 40px;
            filter: invert(78%) sepia(3%) saturate(0%) hue-rotate(196deg) brightness(92%) contrast(90%); //#b3b2b2
        }
    }
    .image-btn{
        margin-right: 3px;
    }
    .text-btn{
        margin-right: 4px;
    }
}

.square-btn{
    &:hover{
        transition: all 0.5s;

        img{
            filter: invert(19%) sepia(0%) saturate(0%) hue-rotate(156deg) brightness(94%) contrast(83%);
            transition: all 0.5s;
        }
    }
    &:active{
        transition: all 0s;
        img{
            filter: invert(83%) sepia(18%) saturate(0%) hue-rotate(239deg) brightness(89%) contrast(99%);
            transition: all 0s;
        }
    }
}