.transform-button-menu{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.transform-section{
    display: flex;
    align-items: center;
    justify-content: center;
}